*{
	margin: 0;
	padding: 0;
}





/*Basic Style Css*/

h3{
	background: gray;
	text-align: left;
	text-transform: uppercase;
	padding: 5px 7px;
	font-size: 14px;
}


h4{
	text-align: center;
	padding: 10px 0px;
	font-size: 16px;
	font-weight: bold;

}
h5{
	text-align: center;
	padding: 10px 0px;
	font-size: 16px;
	font-weight: bold;
}
p{
	line-height: 25px;
}

.school{
	padding: 10px 0px;
}
.school p:nth-child(1){
	font-size: 18px;
	font-weight: bold;
}
/*Basic Style Css*/


body{
	background: #ccc;
}



/*grid class here now*/


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*='col-'] {
    float: left;
}

.container {
    width: 100%;
    height: auto;
    margin: auto;
}

.row:after {
    content: ' ';
    clear: both;
    display: block;
}



/*grid class here now*/

/*card design default*/

.card{
	width: 100%;
	height: auto;
	background: #fff;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 0px 3px #ffc;
	text-align: center;
}

.profile{
	text-align: left;
	padding: 15px 0px 0px 15px;
}

.profile-image img{
	width: 120px;
	height: 140px;
	position: absolute;
	right: 10px;
	top: 30px;
}



.side{
	background: peachpuff;
	padding: 5px 10px;
}

.side-right{

	padding: 5px 10px;
	text-align: left;
}


.title h1{
	padding-top: 50px;
	padding-left: 10px;
	font-size: 22px;
}

.cv-img img{
	width: 150px;
	height: 150px;
	padding-top: 15px;
	padding-left: 10px;
}
.contact,.email,.phone,.language,.skill,.pro-skill,.per-skill,{
	text-align: center;
	padding-bottom: 15px;
}

.extra{
	text-align: center;
	padding-bottom: 170px;
}


.pro-obj{
	padding-top: 50px;
}
.pro-obj p{
	text-align: justify;
	padding: 5px 7px;
	font-size: 14pxs;
}

.summery ul{
	padding: 7px 30px;

}
.summery ul li{
	list-style-type: square;
	padding: 5px 0px;
}

.work-exp ul{
	padding: 7px 30px;s
}
.work-exp ul li{
	list-style-type: square;
	padding: 5px 0px;
}
.work-exp ul li ul{
	padding-left: 60px;
}

.academic .aca{
	padding: 7px 30px;
}

.personal .per{
	padding: 7px 30px;
}
.referange .ref{
	padding: 7px 30px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ccc;
  color: black;
}
